/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ecf0f1;
  }
  
  .calculator {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
  }
  
  #display {
    width: 99%;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    outline: none;
    text-align: center;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .background-controls {
    margin-top: 20px;
    text-align: center;
  }
  
  .background-controls button {
    margin: 0 10px;
    padding: 8px;
    font-size: 0.8em;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .background-controls button:hover {
    background-color: #27ae60;
  }
  